---
---

@import "settings";
@import "foundation";


/* Variables
--------------------------------------------------------------------- */
/* Colors */
$beigeish: #eeede3;
$orangeish: #ff9600;
$greenish: #6ac82b;
$darkgreenish: #007925;
$blueish: #0e6e8d;


/* Main resets and fixes
--------------------------------------------------------------------- */
body {
	  background: $beigeish;
	  font-family: arial, sans-serif;
}

ul {
	  margin: 2em;
    &.accordion{
        margin: 0;
    }
}

.logo{
    float: left;
    padding: 0;
    img{
        margin: -0.1em 1em 0.5em 0 ;
        border: 2px solid #000;
        float: left;
        max-height: 3em;
    }    
}

.row {
	  max-width: 72rem;
}

.noSidePadd {
	  padding-right: 0;
	  padding-left: 0;
}
.margTop {
	  margin-top: 1.875rem;
}
.bigPaddBot {
	  padding-bottom: 5.625rem;
}

.bigPad {
	  padding: 3rem 0;
}



.left-floater {
	  float: left!important;
}

.inline-box {
	  display: inline-block;
}


#InputsForm{
    input{
        display: inline;
        max-width: 10em;
        
        &#GrowthRate,
        &#InvestPercentage{
            max-width: 4em;
        }

        &#StartingYear,
        &#TargetYear{
            max-width: 4.5em;
        }

        
    }
    label{
        display: inline;
    }
}




#ComparisonField, #ComparisonFieldLabel{
    display: inline;
}

#AppRest{
    &:active,
    &.saving{
        background-color: $orangeish;
    }
    
}


/* Type
--------------------------------------------------------------------- */
h1, h2, h3, .teckbox p, .accordion .accordion-navigation a { 
	  font-family: 'wwfregular', Arial, Helvetica, sans-serif; 
	  font-weight: normal;
    span{
	      text-transform: uppercase;      
    }

}
h1 {
	  font-size: 3.5rem;
    line-height: 1.1;
    padding: 0.5em 0.5em 0;
    margin: 0;
    text-transform: uppercase;   
}

h2{
    line-height: 1.1em;
    text-transform: uppercase;
}

h3, .accordion .accordion-navigation a {
	  font-size: 1.2rem;
}

.larger {
	  font-size: 1.8rem;
}
header.row {
	  margin-bottom: 1.875rem;
}
.sidebar p {
	  font-size: 0.8rem;
	  line-height: 1.2;
}
.icon {
	  height: 1.3rem;
	  margin: 0 0.2rem 0.3rem;
}
.modifier {
	  color: $orangeish;
	  border-bottom: 4px solid $orangeish;
}

a.modalLink {
	  text-transform: lowercase;
	  color: $orangeish;
	  border: 1px solid $orangeish;
	  width: 1.4rem;
	  height: 1.4rem;
	  line-height: 1.1rem;
	  margin-left: 0.35rem;
	  border-radius: 50%;
	  display: inline-block;	
}

a.modalLink:hover {
	  color: white;
	  background: $orangeish;
}

.greened {color: $greenish;}
.darkgreened {color: $darkgreenish;}
.blued {	color: $blueish;}


/* Main layout
--------------------------------------------------------------------- */

h1 input[type="text"], h2 input[type="text"] {
	  display: inline;
	  color: #FFA500;
	  padding: 0;
	  border: none;
	  box-shadow: none;
	  height: auto;
	  border-bottom: 4px solid #FFA500;
}

h1 input[type="text"] {
	  font-size: 3.5rem;
	  text-align: right;
	  padding-right: 0.3rem;
    max-width: 5rem;
    margin-bottom: 0;
}

h1 input[type="text"].string {
    max-width: 28rem;
    text-transform: uppercase;
    color: #FFA500;
}

h1 input[type="text"]:last-child {
	  width: auto;
	  max-width: 23rem;
}

h2 input[type="text"] {
	  font-size: 4rem;
	  padding: 0 0.5rem 0.4rem 0.5rem;
	  width: 9rem;
	  margin: 0;
	  background-color: rgba(255, 255, 255, 0.85);
}

.upndownBox {
	  display: inline-block;
    width: 2rem;
  	text-indent: -9999px;
  	position: relative;
  	top: 1.15rem;
  	border-bottom: 4px solid #FFA500;
}
h2 .upndownBox {
	  top: 1.65rem;
	  left: -2.5rem;
}
.upndownBox a {
	  position: absolute;
}
.upBtn {
	  bottom: 2.5rem;
    left: 0.5rem;
	  width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #ff9500 transparent;
}
.downBtn {
	  bottom: 0.75rem;
    left: 0.5rem;
	  width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: #ff9500 transparent transparent transparent;
}

h2 .upndownBox .upBtn {
	  bottom: 3rem;
}

h2 .upndownBox .downBtn {
	  bottom: 1.25rem;
}
.sidebar {
	  text-align: center;
	  padding: 2rem;
}

.padding{
	  padding: 2rem; 
}
.whitewrap {
	  background: white;
}
.topGap{
    padding-top: 2em;
    clear: both;
    overflow: hidden;
}

.teckbox, .earthBox {
	  position: relative;
    overflow: hidden;
}

.box{
    overflow: hidden;
    position: relative;
}
.earthBolt{
    width: 5em;
    margin-left: 2em;
}
.battery{
    height: 1.5em;
    margin-top: -0.25em;
    margin: 0 5px;
}

.employment{
    max-width: 5em;
    margin: -1.5em -1em -0.25em 1em;
}

.earthBox {
	  padding-top:0.9375rem;
}
.earthBox h2 {
	  top: 40%;
	  left: 34%;
	  font-size: 4rem;
	  margin: 0;
	  line-height: 1;
	  z-index: 9;
}
.globe{
    padding: 1px;  
}

.teckbox p {
	  line-height: 1;
}
.teckbox p span {
	  font-size: 1.5rem;
}


.papered {
	  background: url("../img/paper.jpg");
	  padding:0;
}


header .fundBox {
	  min-height: 0;
	  padding: 1rem 1.9rem 0.8rem;
	  background: #E8E8E8;
	  border-bottom: 4px solid #808080;
}

.fundBox input[type="text"] {
	  display: inline;
    width: auto;
    font-size: 1rem;
    color: $orangeish;
    min-width: 10rem;
    margin: 0 0 0 1rem;
}

.dollas img {
	  position: absolute;
	  width: 34%;
	  top: 24%;
	  left: 34%;
}
.dollas h3 {
	  position: absolute;
	  width: 18%;
    top: 50%;
    left: 41%;
}

.graphs {
	  border: 1px solid lightgray;
	  margin-bottom: 1.25rem;
}

.globes {
    overflow: hidden;
    color: $greenish;
    font-size: 0.5em;
	  margin-bottom: 1.25rem;
}

#globes img {
	  max-width: 3.5rem;
}

#BackgroundData, #EMix, #InvestmentDataTable{
    position: relative;
}


/* Table styles
--------------------------------------------------------------------- */

.accordion-navigation a:before {
	  content:"+";
	  margin-right: 0.2rem;
}


table {
	  width: 100%;
}


.handsontable thead th{
    vertical-align: top;
    overflow: visible;
    padding: 10px 4px;
    max-width: 150px;
    word-wrap: normal;
    white-space: normal;
    .wide{
        position: relative;
        left: 50%;
        width: 200px;
        margin: -12px 0 -4px -108px;
        background: #EEE;
        padding: 8px;
    }
}

.colHeader{
    hr
    {
        margin: 5px 0; 
    }
}


#ComparisonField{
    max-width: 10em;
    
}
#ImpactDataTable{
    overflow: hidden;
    .year{
        float: left;
        padding: 1em 1em 0 0;
    }

    dt, dd{
        display: inline;
    }
}


/* Animations
--------------------------------------------------------------------- */
/*.spin {
	-webkit-animation: rotate 90s infinite linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}


/* Font-face
--------------------------------------------------------------------- */
@font-face {
    font-family: 'wwfregular';
    src: url('wwf-webfont.eot');
    src: url('wwf-webfont.eot?#iefix') format('embedded-opentype'),
    url('wwf-webfont.woff') format('woff'),
    url('wwf-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width: 72rem) {
	  .noLeftPadd {
		    padding-left: 0;
	  }
	  .noRightPadd {
		    padding-right: 0;
	  }

    .earth.teckbox{
        padding-bottom: 4em;
    }

    .teckbox p, .earthBox h2 {
	      position: absolute;
    }
    header{

        padding: 2em 2em 2em;        
        
        h1{
                overflow: hidden;
        }

        p{
            margin-bottom: 0;
        }
    }

    #hydro {top: 53%;left: 13%;}
    #bio {top: 54%;left: 26%;}
    #wind {top: 36%;left: 43%;}
    #geo {top: 33%;left: 56%;}
    #solarpv {top: 35%;left: 68%;}
    #solarp {top: 29%;left: 80%;}
}

@media only screen and (max-width: 72rem) {
	  
	  header h1, header h1 input[type="text"] {
		    font-size: 2.75rem;
	  }
	  header .whitewrap {
		    padding-bottom: 2rem;
	  }
	  header .upndownBox {
		    top: 0.95rem;
		    width: 1.8rem;
	  }
	  header .upBtn {
		    border-width: 0 8px 14px 8px;
		    bottom: 2rem;
	  }
	  header .downBtn {
		    border-width: 14px 8px 0 8px;
	  }
	  
	  .large-2 img {
		    
	  }
	  header .whitewrap {
		    min-height: 0;
	  }

    .dollas{
        clear: both;
        height: 6em;
        position: relative;
        img{
            position: absolute;
            width: 47%;
            top: 0;
            left: 29%;
        }
        h3{
            position: relative;
            width: auto;
            text-align: center;
            left: 0;
        }
        
    }

    .teckbox p span {
        font-size: 1rem;
    }
    .earthBox h2 {
	      position: absolute;
    }
    .teck.teckbox {
        text-align: center;
        img{
            display: none;
        }

        p{
            display: inline-block;
            padding: 1em;
        }
        
    }
    .techModal{
        padding-bottom: 1em;
    }

    
    
}
@media only screen and (max-width: 64.063rem) {

    body{
        background: #FFF;
    }

    header .intro{
        padding: 1rem 0;
    }


    .bigPad{
        padding: 0.9375rem;
    }
    
    .padding, .sidebar {
        padding: 1rem 0;
        
        &.columns{
            padding: 0.9375rem;
        }

        h2{
            font-size: 2rem;
        }

        .employment{
            margin: 0 auto;
            display: block;
        }
    }


    
	  header .large-2 {
		    width: 8rem;
	  }
	  header .large-2 .whitewrap {
		    padding: 0.5rem 0;
	  }
    h2{
        text-transform: none;
    }
	  h2 input[type="text"] {
		    font-size: 3rem;
		    width: 7rem;
        
	  }
	  .earthBox {
		    .upndownBox {
			      top: 1.4rem;
			      width: 1.8rem;
			      left: -2.15rem;
			      
			      .upBtn {
				        border-width: 0 8px 14px 8px;
				        bottom: 2.5rem;
			      }
			      .downBtn {
				        border-width: 14px 8px 0 8px;
			      }
			      
		    }
	  }
}
