---
layout: default
title: Web Calculator
permalink: /
---

<header class="row">
  <div class="large-2 columns noLeftPadd">
    <div class="whitewrap">
      <img src="/img/WWF.png" alt="WWF Logo" />
		</div>
  </div>
  
  <div class="large-10 columns noRightPadd">
	  <div class="whitewrap padding ">      
      {% include intro.html %}
	  </div>
  </div>
</header>


<div class="row  whitewrap margTop">  
  {% include infographics.html %}
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include report.html %}
  </div>
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include inputs.html %}    
  </div>
</div>

<div class="row papered margTop">
  <div class="large-12 columns">    
	 {% include earth.html %}
  </div>
</div>

<div class="row papered ">
  <div class="large-12 columns techBox">
    {% include tech.html %}
  </div>
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include background.html %}
  </div>
</div>

<div class="row ">
	{% include table.html %} 
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include box1.html %}   	      
  </div>
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include box2.html %}   	      
  </div>
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include results.html %}   	      
  </div>
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include methodology.html %}   	      
  </div>
</div>


<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include about.html %}   	      
  </div>
</div>


<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include rights.html %}   	      
  </div>
</div>

