---
layout: default
title: Web Calculator
permalink: /
---

<header class="row whitewrap ">
  <div class="large-2 columns margTop">
    <div class="whitewrap logo">
      <img src="/img/WWF.png" alt="WWF Logo" />
		</div>
  </div>
  
  <div class="large-10 columns noRightPadd margTop">
	  <div class="whitewrap intro ">      
      {% include intro.html %}
	  </div>
  </div>
</header>


<div class="row  whitewrap margTop">  
  {% include infographics.html %}
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include report.html %}
  </div>
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include inputs.html %}    
  </div>
</div>

<div class="row papered margTop">
  <div class="large-8 columns">
    <div class="earth  teckbox">
	    {% include earth.html %}
    </div>    
    <div class="teck  teckbox">
      {% include tech.html %}     
    </div>
  </div>

  <div class="large-4 columns sidebar whitewrap">
    <div>   
	    {% include installed.html %}
      <hr />
    </div>
    <div>   
	    {% include small_renewable.html %}    
      <hr />
    </div>
    <div>   
	    {% include impact.html %}
    </div>
  
  </div>
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include background.html %}
  </div>
</div>

<div class="row ">
	{% include table.html %} 
</div>


<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include box2.html %}   	      
  </div>
</div>

<div class="row ">
	{% include results_table.html %} 
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include results.html %}   	      
  </div>
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include methodology.html %}   	      
  </div>
</div>


<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include about.html %}   	      
  </div>
</div>


<div class="row whitewrap margTop">
	<div class="large-10 columns large-offset-1 bigPad">
    {% include rights.html %}   	      
  </div>
</div>

