---
layout: default
title: New
permalink: /new/
---

<header class="row">
  <div class="large-2 columns noLeftPadd">
    <div class="whitewrap">
      <img src="/img/WWF.png" alt="WWF Logo" />
		</div>
  </div>
  
  <div class="large-10 columns noRightPadd">
	  <div class="whitewrap padding ">      
      {% include intro.html %}
	  </div>
  </div>
</header>

<div class="row whitewrap margTop">
	<div class="large-10 columns ">
    {% include case.html %}
  </div>
</div>


<div class="row whitewrap margTop">
	<div class="large-10 columns ">
    {% include report.html %}
  </div>
</div>


<div class="row whitewrap margTop">
	<div class="large-10 columns ">
    {% include inputs.html %}    
  </div>
</div>



<div class="row papered margTop">
  <div class="large-12 columns">
    
	 {% include earth %}

  </div>
</div>

 

<div class="row whitewrap margTop">
	<div class="large-10 columns ">
    {% include background.html %}
  </div>
</div>

<div class="row margTop">

	<ul class="accordion" data-accordion>

    
	  <li class="accordion-navigation">
	    <a href="#panel1a">More advanced settings</a>
	    <div id="panel1a" class="content">

        <h2>Investment Forecast </h2>
        <div id="GrowthRateDataTable"></div>
        <a id="DownloadGrowthRateData" href="#">Download data</a>
        
        <h2>Background data</h2>
        <div id="BackgroundData"></div>
        <a id="DownloadBackgroundData" href="#">Download data</a>

        <h2>Electricity Data Table</h2>
        <div id="EMix"></div>        
        <a id="DownloadEMixData" href="#">Download data</a>
        
	    </div>
	  </li>
	  
	  <li class="accordion-navigation">
	    <a href="#panel2a">Key results</a>
	    <div id="panel2a" class="content">
                
        <h2>Key results</h2>
        <div id="SharesDataTable"></div>
        <a id="DownloadSharesDataData" href="#">Download data</a>
        
	    </div>
	  </li>
    
    <li class="accordion-navigation">
	    <a href="#panel3a">Impact</a>
	    <div id="panel3a" class="content">                
        <h2>Annual power generation from SPU <span class="years">5</span> years investments</h2>
        <div id="ImpactDataTable"></div>
        <a id="DownloadImpactData" href="#">Download data</a>
	    </div>
	  </li>
    
	</ul>    
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns ">
    {% include box1.html %}   	      
  </div>
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns ">
    {% include box2.html %}   	      
  </div>
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns ">
    {% include results.html %}   	      
  </div>
</div>

<div class="row whitewrap margTop">
	<div class="large-10 columns ">
    {% include methodology.html %}   	      
  </div>
</div>


<div class="row whitewrap margTop">
	<div class="large-10 columns ">
    {% include about.html %}   	      
  </div>
</div>


<div class="row whitewrap margTop">
	<div class="large-10 columns ">
    {% include rights.html %}   	      
  </div>
</div>

