<h2 id="about">ABOUT</h2>

<p>WWF is the world’s leading independent conservation organization, working in more than 100 countries in 6 continents. Over 5 million people support our work. 
  Our mission is to build a future in which people live in harmony with nature. 
  We’re striving to safeguard the natural world, helping people live more sustainably and take action against climate change. </p>
<p>WWF works worldwide to promote solutions, and renewable energy is one of these. 
  WWF-Norway is asking the Norwegian sovereign wealth fund - the world’s largest with over USD 850 billion - to invest at least 5% in renewable energy infrastructure. </p>
<p>For more information on our work, the report, and the web-calculator, please contact: </p>
<ul>
  <li>Lars Erik Mangset, Advisor sustainable industries. lemangset@wwf.no</li>
  <li>Stefano Esposito, Advisor sustainable finance. sesposito@wwf.no</li>
</ul>
