<ul class="accordion" data-accordion>


	<li class="accordion-navigation">
	  <a href="#panel1a">Background Data Tables</a>
	  <div id="panel1a" class="content">

      <h2>Investment Forecast </h2>
      <div id="GrowthRateDataTable"></div>
      <a id="DownloadGrowthRateData" href="#">Download data</a>
      <p>Table 1 shows all figures relative to the investor’s size, its growth forecast (CAGR) and the annual investments that will be made in renewables</p>


      <h2>Background data</h2>
      <p>Table 2 shows the default data provided by IPCC and used in the model to derive installed capacity, power generation and emissions avoided. See the methodology section for further information.</p>
      <div id="BackgroundData"></div>
      <a id="DownloadBackgroundData" href="#">Download data</a>


      <h2>Electricity Data Table</h2>
      <div id="EMix"></div>
      <a id="DownloadEMixData" href="#">Download data</a>
      <p>Table 3 shows the energy scenario, based on the World Energy Outlook (2014) published by the IEA. This tables provided the electricity mix that is used to allocate the funding to different technologies.</p>

      <h2>Comparison numbers</h2>
      <p>Table 4 provides some general comparison figures, used in the infpographics.</p>
      <div id="ComparisonsTable">
      </div>
      <a id="DownloadComparisonsTable" href="#">Download data</a>

      
	  </div>
	</li>


</ul>
