
<h2 id="explanatory-text">EXPLANATORY TEXT</h2>

<p>Table 1 shows all figures relative to the investor’s size, its growth forecast and the annual investments that will be made in renewable.</p>

<p>Table 2 shows the default data provided by IPCC and used in the model to derive installed capacity, power generation and emissions avoided. Data on job creation is provided by UKERC. See the methodology section for further information.</p>

<p>Table 3 shows the energy scenario, based on latest World Energy Outlook (2014) published by the IEA. This tables provided the electricity mix which is used to allocate the funding to different technologies.</p>

<p>Table 4 provide some general comparison figures, used to relate the results to something easier to understand.</p>

