<h2 id="key-results-of-the-model-for-every-renewable-energy-technology">Key results of the model. For every renewable energy technology</h2>

<p>Key results of the model. For every renewable energy technology. Annual investment (USD): money invested every year in this specific technology.
  Electricity output, annual (kWh): the electricity generated in one year based on the investment made.
  Electricity output, lifetime (kWh): the power plant built will last for a number of year, equal to the lifetime of the plant. For hydropower will typically be 50 years.
  Installed capacity (kW): investment will finance new power plants which have a given capacity, which is the maximum electric output a generator can produce.
  Share of investment: it indicates the share of investment channeled to a specific technology.</p>

<p>Table 2 shows the total annual power generation due to the investments. The first year will be X, the second year will be X + Y, the third year will be X + Y + Z…and so on. The timeline is based on the lifetime of the technologies.
  + Table Output data + Impact</p>

