<div class="padding">

<h2>In the web-calculator, you can build your own case,
  choose how much money should be invested in a mix of renewable energy over a period of time,
  and get the following results:</h2>


<ul>
  <li>Installed capacity annual and total: new solar farms, wind parks, geothermal plants, and so on.</li>
  <li>Electricity generation, annual and total: watts of electricity that can power industries and cities. </li>
  <li>Emission saved by not investing in fossil fuels instead: by making smart choices we reduce emissions. </li>
  <li>Rough estimate of the number of jobs created.</li>
</ul>

<p>All default background data is editable, for instance if you want to make your own scenario and invest only in one technology. You can save the changes you made. All graphs are downloadable. Enjoy!</p>

</div>
