<div class="medium-5 columns earthBox noSidePadd">
	<h2><input type="text" name="startYear" maxlength="4" value="2016" data-id="starting year"><div data-min="2013" data-target="startYear" data-inc="1" data-format="0000"  class="upndownBox"><a class="upBtn" href="">Up</a><a class="downBtn" href="">Down</a></div></h2>
	<img class="spin" src="/img/SVG/earth1.svg" />
</div>
<div class="dollas">
	<img src="/img/SVG/dollas.svg" />
	<h3><span class="modifier" id="budget1"></span> in renewable energy</h3>
</div>
<div class="medium-5 columns earthBox noSidePadd medium-offset-2">
	<h2>
    <input type="text" name="endYear" maxlength="4" value="2020" data-id="target year" >
    <div data-min="2015" data-target="endYear" data-inc="1" data-format="0000"   class="upndownBox"><a class="upBtn" href="">Up</a><a class="downBtn" href="">Down</a></div>
  </h2>
	<img class="spin" src="/img/SVG/earth2.svg" />
</div>
