<div class="padding">
  <div class="medium-12 columns ">

    <h2>In the web-calculator, you can build your own case,
      choose how much money should be invested in a mix of renewable energy over a period of time,
      and get the following results:</h2>

  </div>




  
  <div class="topGap" >
    <hr />  
  </div>
  


  <div class="medium-4 columns  sidebar whitewrap">
    <h5>Installed capacity annual and total: new solar farms, wind parks, geothermal plants, and so on.</h5>
    {% include installed_popup.html %}
  </div>



  <div class="medium-4 columns sidebar  whitewrap">
    <h5>Electricity generation, annual and total: watts of electricity that can power industries and cities.</h5>
    {% include renewable_popup.html %}    	  

  </div>


  
  <div class="medium-4 columns sidebar  whitewrap">
    <h5>Emission saved by not investing in fossil fuels instead: by making smart choices we reduce emissions.</h5>
    {% include impact_popup.html %}
  </div>

  <hr />

  

  <div class="medium-4 columns  sidebar whitewrap">
	  {% include installed.html %}    
  </div>
  <div class="medium-4 columns sidebar  whitewrap">
    {% include renewable.html %}
  </div>
  <div class="medium-4 columns sidebar  whitewrap">
    {% include impact.html %}	  
  </div>
  
  <div class="medium-12 columns ">

    <p>All default background data is editable, for instance if you want to make your own scenario and invest only in one technology. You can save the changes you made. All graphs are downloadable. Enjoy!</p>

  </div>
</div>
