
<div class="row  whitewrap margTop">
  <div class="medium-6 columns papered">



    {% include case.html %}

  </div>
  <div class="medium-6 columns  sidebar whitewrap">

	  <h3 class="greened larger"><img class="icon" src="/img/SVG/bolt.svg" alt="Bolt" /><span id="gigawatts"></span> watts<img class="icon" src="/img/SVG/bolt.svg" alt="Bolt" /></h3>
	  <p>Equivalent (on average) to the installed capacity of <span class="greened" id="nuclearReactors">950</span> nuclear reactors or <span class="greened" id="coalPlants">1300</span> coal-fired power plants.</p>
	  <img src="/img/SVG/town.svg" />
  </div>

</div>



<div class="row whitewrap ">
  <div class="medium-6 columns  sidebar whitewrap">

	  <h3 class="blued" id="twhImpact"><span class="start">2016</span> -
      <span class="larger amount">2200 TWh</span> -<span class="end">2069</span> </h3>
	  <p><span class="blued" id="wAnnually">2200</span> watt hours (<span id="wAnnuallyType"></span>Wh) annually,
      every year for <span class="blued impactYears" ></span> years.</p>
	  <p>The same electricity consumption of half of the United States, every year for <span class="blued impactYears" id="elYears"></span> years.</p>
  </div>


  <div class="medium-6 columns  sidebar whitewrap">
	  <h3 class="darkgreened larger">Emissions avoided <span id="EmissionsAvoided"></span>t CO2</h3>
	  <div id="globes">
		  <img src="/img/SVG/globe.svg" width="20%" />
		  <img src="/img/SVG/globe.svg" width="20%" />
		  <img src="/img/SVG/globe.svg" width="20%" />
		  <img src="/img/SVG/globe.svg" width="20%" />
	  </div>
	  <p>Investing in renewable power instead of coal and gas would avoid a level of emissions the scale of <span id="timesWorld" class="darkgreened">4</span> times the world's annual emissions, or <span id="timesUS" class="darkgreened">3+0</span> times the annual emisions of the US.</p>
  </div>


</div>
