<h2 id="inputs">Inputs: now it's your turn!</h2>
<p>The numbers you see refers to the case study WWF-Norway developed, based on Norway’s sovereign wealth fund, world’s largest with almost 900 billion dollars in assets.</p>

<p>Now you have the possibility to create your own case study! Simply edit the following fields. The changes are automatically saved, and you can go back to default just by pressing the “Reset” button.</p>

<form id="InputsForm">


    <p>
      <label for="Investment">How large is the investor you want to test? (in US dollars)</label>
      <input id="Investment" type="text" data-id="investment" name="totalFund" data-format="0,000"   value="" />
      <label for="Investment">USD.</label>            
    </p>

    
    <p>
      <label for="GrowthRate">How much do you expect it to grow in the coming years? As a default it will be 2% per year (CAGR).</label>
      <input id="GrowthRate" data-id="annual growth rate" type="text" name="growthRate" >
      <label for="GrowthRate">percent.</label>
    </p>

    <p>
      <label for="InvestPercentage">How much should the fund invest in renewable energy projects?</label>
      <input id="InvestPercentage" data-id="target" type="text" name="investPercentage" data-format="0,000.00" >
      <label for="InvestPercentage"> percent of fund’s total value.</label>
    </p>


    <p>
      <label for="StartingYear">The fund will start to invest in </label>
      <input type="number" id="StartingYear"  maxlength="4" value="2016" data-id="starting year" name="start" >
       
      <label for="TargetYear">and the target to be reached in </label>
      <input type="number"   id="TargetYear" maxlength="4" value="2020" data-id="target year" name="target">
      <label for="TargetYear">.</label>
    </p>

  
    <p><div class="inpne-box"> <a href="#" id="AppRest" class="button">Reset</a></div> </p>

 
</form>
