<h2 id="inputs">Inputs</h2>
<p>The existing data is based on the case study of the Norwegian sovereign wealth fund. To create your own case study based on our model, you need to personalize the following field:</p>

<ul>
  <li>The latest known size of the investor: <div class="inline-box"> <input type="text" name="totalFund" data-format="0,000"   value="" /></div>  USD</li>
  <li>The expected annual growth rate (CAGR): <div class="inline-box"> <input type="text" name="growthRate" ></div> percent.</li>
  <li>The target for renewable energy investment: <div class="inline-box"> <input type="text" name="investPercentage" data-format="0,000.00" ></div> percent of fund’s total value.</li>
</ul>

<h3 id="in-the-graphic-below-you-can-choose">In the graphic below you can choose:</h3>

<ul>
  <li>The first year of investment (as per 31th december) </li>
  <li>The year when the target is to be reached.</li>
</ul>

