<h3 class="text-center">The dividing of investments in the various technologies<a href="#" data-reveal-id="installedModal" class="modalLink">i</a></h3>
<div id="installedModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="installedTitle">How much new capacity would be installed?</h2>
	<p>The model estimates how much new capacity is installed, given the chosen amount of investment and the energy mix. This estimate is calculated using IPCC’s  figures “overnight costs” (in USD/kW), which indicates the capital cost, excluding finance cost for construction. In short, it indicates the cost of building a power plant overnight as if no interest were incurred. Please refer to the report for a detailed explanations of the methodology, and the limits of the estimate. Source of data:
    <a target="_blank" href="http://www.ipcc.ch/pdf/assessment-report/ar5/wg3/ipcc_wg3_ar5_annex-iii.pdf">http://www.ipcc.ch/pdf/assessment-report/ar5/wg3/ipcc_wg3_ar5_annex-iii.pdf</a></p>
  
  <p>The result is compared with the average capacity of existing and under construction nuclear reactors in the world, which is 922 MW (1th june 2015). Source: European Nuclear Association, <a href="http://www.euronuclear.org/info/encyclopedia/n/nuclear-power-plant-world-wide.htm">http://www.euronuclear.org/info/encyclopedia/n/nuclear-power-plant-world-wide.htm</a>
  </p>

  <p>The result is also compared with the average nameplate capacity of a coal unit in the US, which is 272 MW (2013). Source: US’s Energy Information Administration,
    <a href="http://www.eia.gov/electricity/annual/">http://www.eia.gov/electricity/annual/</a> (Table 4.3)</p>
  
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
