<h3 class="text-center">New installed capacity <a href="#" data-reveal-id="installedModal" class="modalLink">i</a></h3>
<div id="installedModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="installedTitle">New installed capacity</h2>
	<p>The model estimates how much new capacity is installed, given the chosen amount of investment and the energy mix. This estimate is calculated using IPCC’s  figures “overnight costs” (in USD/kW), which indicates the capital cost, excluding finance cost for construction. In short, it indicates the cost of building a power plant overnight as if no interest were incurred. Please refer to the report for a detailed explanation of the methodology, and the limits of the estimate. Source of data:
    <a target="_blank" href="http://www.ipcc.ch/pdf/assessment-report/ar5/wg3/ipcc_wg3_ar5_annex-iii.pdf">IPCC, AR5, Working Group 3, Annex III</a></p>

  <p>The result is compared with the average capacity of a wind turbine, which is approximateløy 3 MW. Source: The European Wind Energy Association<a href="http://www.euronuclear.org/info/encyclopedia/n/nuclear-power-plant-world-wide.htm" target="_blank">http://www.ewea.org/wind-energy-basics/faq/</a>
  </p>

  <p>The result is also compared with the average nameplate capacity of a coal power generator (which might be different from a coal power plant, which can include more than 1 generator) in the US, which is 272 MW. Source: US’s Energy Information Administration,
    <a href="http://www.eia.gov/electricity/annual/" target="_blank">http://www.eia.gov/electricity/annual/html/epa_04_03.html</a> EIA (Table 4.3)</p>

	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
