<h2>WELCOME!</h2>
<p>Welcome to WWF-Norway’s web-calculator!</p>
<p>Would you like to know what happens if your pension fund or your bank starts to invest 5% of its money in renewable energy? Or maybe 10%? On this webpage, you can build your own scenario!</p>

<p>After you have chosen the sum of money to be invested, you can choose which technology to fund: Solar and wind power? Geothermal? Hydropower? And why not a realistic mix of renewable energy technologies? (Our default energy mix is based on the International Energy Agency’s data.)</p>
<p>The results might surprise you: the new power plants will generate electricity for many years. Did you know that an hydropower plant typically works for 50 years? And a wind turbine or a solar panel for 25 years? That’s a lot of clean electricity!</p>
<p>But how much exactly? The following graphs give you an overview of the many interesting results (theoretical estimates*) you can get.</p>
