
<div class="large-12 columns sidebar">
      <h2>Main results produced by the webcalculator</h2>
</div>
<div class="medium-12 columns">


  <div class="medium-4 columns  sidebar whitewrap">
    {% include installed_popup.html %}
    <hr />

	  {% include installed.html %}
  </div>
  <div class="medium-4 columns sidebar  whitewrap">
    {% include renewable_popup.html %}
    <hr />

    {% include renewable.html %}

  </div>
  <div class="medium-4 columns sidebar  whitewrap">
    {% include emissions_popup.html %}
    <hr />

    {% include emissions.html %}


  </div>
  <hr />
</div>
<div>

  <div class="medium-10 columns large-offset-1">

    <p>You can download all graphical elements and tables showing the results of your analysis, for use in both external and internal communication products, including social media.</p>

<p><i>For information about the limitation of the calculation produced by this tool, please refer to the methodology chapter in the report for more details.</i></p>

</div>

</div>
