<h2>WELCOME!</h2>
<p><img src="/img/SVG/planet.svg" class="left paddingRight paddingBottom" width="250px" />What could be the potential climate benefits if your investment fund starts to put a certain percentage of its money directly into renewable energy?

<p>The calculator allows you to estimate how much a given amount of investment can contribute to build a more sustainable future where renewable sources of energy, such as wind, sun and water, provide our societies with the necessary energy.</p>

<p>To use this tool, you only need a few data inputs on the size of the investor, and the investment's period, and our modelling tool will do the rest. You can also change all parameters in the table below under “background data”.</p>
