<h2>WELCOME!</h2>
<p><img src="/img/SVG/planet.svg" class="left paddingRight paddingBottom" width="200px" /> What could be the potential climate benefits if your investment fund starts to put a certain percentage of its money directly into renewable energy? You can find that out by using this free web-calculator developed by WWF.</p>

<p>The calculatortool allows you to estimate how much a given amount of investment can contribute to build a more sustainable future where renewable sources of energy, such as wind, sun and water, provide our societies with the necessary energy.</p>

<p>To use this tool, you only need a few data inputs on the size of the investor, and the investment's period, and our modelling tool will do the rest.</p>

<p>You can also change the parameters used in our model, and for example add a growth rate for the investment fund you are analyzing, change data on cost, capacity factors, emissions factors and electricity mix. To make such changes, please expand the table below under “background data”.</p>

<p>For any further details about this model, please refer to the “methodology” section and have a look at the report also provided below. </p>
