<h3 class="text-center">The dividing of investments in the various technologies<a href="#" data-reveal-id="jobsModal" class="modalLink">i</a></h3>
<div id="jobsModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="jobsTitle">How many jobs can be created?</h2>
  <p>This estimate refers to the number of jobs required during all phases of a power plant, from the construction to the end of its life. It is based on one of the most complete and updated dataset available to our knowledge, which is kindly provided by the UK Energy Research Center (UKERC). The report is titled
    <a href="http://www.ukerc.ac.uk/publications/low-carbon-jobs-the-evidence-for-net-job-creation-from-policy-support-for-energy-efficiency-and-renewable-energy.html">“Low carbon jobs: The evidence for net job creation from policy support for energy efficiency and renewable energy”.</a></p>

  <p>Please note that this is only a rough estimate, since there are many geographical variations. Please read WWF’s report (LINK) for a complete and detailed discussion of this topic.</p>
  
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
