    <h2 id="wwf-norways-report">WWF-Norway’s report</h2>

    <p>WWF's Norway report <i>“Five percent renewable energy investments in a two degrees world”</i> was published in November 2015, and presents a model and some hypothetical case studies in which large institutional investors (pension funds, sovereign wealth fund, etc) invest a given amount of money in renewable energy infrastructure: solar and wind farms, geothermal plants, bioenergy, hydropower, marine.</p>

<p><img src="/img/report_cover.PNG"></p>
    <p>The model uses the latest data from the most authoritative sources, such as the International Energy Agency (IEA) and the Intergovernmental Panel on Climate Change (IPCC).</p>

    <p>By clicking on this image, you will see an infographic that presentes the main results of the report.</p>
