<h2 class="blued twhImpact"> <img src="/img/SVG/battery.svg" class="battery" />
  <span class="amount nowrap"> KWh</span></h2>
<p>


  <span class="blued amount nowrap">2200</span> annually,
  every year for <span class="blued impactYears nowrap" ></span> years.
</p>

<img class="right earthBolt" src="/img/SVG/bolt_earth.svg"  />
<p>Enough electricity for <span class="blued EUCitizens nowrap"></span> typical European citizens, every year for <span class="blued impactYears elYears nowrap"></span> years. </p>
