<ul class="accordion" data-accordion>

  
	<li class="accordion-navigation">
	  <a href="#panel1a">Background data</a>
	  <div id="panel1a" class="content">

      <h2>Investment Forecast </h2>
      <div id="GrowthRateDataTable"></div>
      <a id="DownloadGrowthRateData" href="#">Download data</a>
      
      <h2>Background data</h2>
      <div id="BackgroundData"></div>
      <a id="DownloadBackgroundData" href="#">Download data</a>

      <h2>Electricity Data Table</h2>
      <div id="EMix"></div>        
      <a id="DownloadEMixData" href="#">Download data</a>
      
	  </div>
	</li>
  
 
</ul>   
