<ul class="accordion" data-accordion>

  
	<li class="accordion-navigation">
	  <a href="#panel1a">Background Data Tables</a>
	  <div id="panel1a" class="content">

      <h2>Investment Forecast </h2>
      <div id="GrowthRateDataTable"></div>
      <a id="DownloadGrowthRateData" href="#">Download data</a>
      <p>Shows all figures relative to the investor’s size, its growth forecast and the annual investments that will be made in renewable</p>

      
      <h2>Background data</h2>      
      <div id="BackgroundData"></div>
      <a id="DownloadBackgroundData" href="#">Download data</a>
      <p>Shows the default data provided by IPCC and used in the model to derive installed capacity, power generation and emissions avoided. Data on job creation is provided by UKERC. See the methodology section for further information.</p>

      <h2>Electricity Data Table</h2>
      <div id="EMix"></div>        
      <a id="DownloadEMixData" href="#">Download data</a>
      <p>Shows the energy scenario, based on latest World Energy Outlook (2014) published by the IEA. This tables provided the electricity mix which is used to allocate the funding to different technologies.</p>

      <h2>Comparison numbers</h2>
      <p>Provides different figures used in the webcalculator, and in particular in the infographics, to communicate the results in an easy-to-understand way.</p>
      <div id="ComparisonsTable">
        
      </div>
	  </div>
	</li>
  
 
</ul>   
