<h3 class="text-center">The dividing of investments in the various technologies<a href="#" data-reveal-id="techModal" class="modalLink">i</a></h3>


<div id="techModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="modalTitle">The investment is allocated to various technologiess</h2>
	<p>The default mix of renewable power technologies is based on the latest energy scenarios of the
    International Energy Agency (IEA, World Energy Outlook 2014).The figures are based on what is
    needed to be installed worldwide, and refer to the first year of the chosen period.
    Data is based on the IEA’s New Policy Scenario until 2020, and the 450 scenario until 2040.
    For more info on the scenarios,
    see: <a target="_blank" href="http://www.iea.org/publications/scenariosandprojections/">http://www.iea.org/publications/scenariosandprojections/</a></p>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<img src="/img/SVG/techs.svg" />
<p data-id="4" id="hydro"><span>28%</span><br />hydro</p>
<p data-id="5" id="bio"><span>6%</span><br />bioenergy</p>
<p data-id="6" id="wind"><span>36%</span><br />wind</p>
<p data-id="7" id="geo"><span>1%</span><br />geothermal</p>
<p data-id="8" id="solarpv"><span>29%</span><br />solar pv</p>
<p data-id="9" id="solarp"><span>1%</span><br />concentrated<br />solar power</p>
